// Custom variables.
@import "../../base";

[style*="--bb--transform--sm:"] {
  transform: var(--bb--transform--sm);
}

@media (min-width: map-get($breakpoints, md )) {
  [style*="--bb--transform--md:"] {
    transform: var(--bb--transform--md);
  }
}

@media (min-width: map-get($breakpoints, lg )) {
  [style*="--bb--transform--lg:"] {
    transform: var(--bb--transform--lg);
  }
}
